<!DOCTYPE html>
<html>
<head>
	<title>home</title>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
	<h1>Welcome {{user.name}} <a href="/logout">Log out</a></h1>
	<h3>Details :</h3>
	<table style="width: 50%; text-align: center;">
		<th>Id</th>
		<th>Name</th>
		<th>Phoneno</th>
		<th>username</th>
		<th>password</th>
		{% for d in data %}
		{% if d.username == user.name %}			
		<tr>
		
			<td>{{d.id}}</td>
			<td>{{d.name}}</td>
			<td>{{d.phoneno}}</td>
			<td>{{d.username}}</td>
			<td>{{d.password}}</td>
		
		</tr>
		{% endif %}
		{% endfor %}
	</table>

</body>
</html>